#header
  margin: 0
  padding: 20px
  background-color: #13234E
  color: white
  font-family: "Bebas Neue"
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  font-size: 18px

  .left
    float: left

  .right
    float: right
    text-align: right

    #phone-number
      font-size: 28px

    #menu
      ul
        display: flex
        flex-wap: nowrap

        li
          list-style-type: none
          padding-left: 20px

          a
            text-decoration: none
            color: white
            letter-spacing: 5%

    #search
      color: #13234E
      background: white
      border: 1px solid #13234E
      border-radius: 25px

      input
        color: #13234E
        border: none

      input:focus
        border: none
