<div id="header">

    <div class="left">
      <div id="logo">
        <img src="../../../../assets/images/white.png" alt="" height="82px">
      </div>
    </div>

    <div class="right">

      <div id="phone-number">
        <a>+27 101 402 628</a>
      </div>

      <div id="menu">
        <ul>
          <li>
            <a routerLink="" routerLinkActive="active">HOME</a>
          </li>
          <li>
            <a routerLink="" routerLinkActive="active">PRODUCTS</a>
          </li>
          <li>
            <a routerLink="" routerLinkActive="active">ACCOUNT</a>
          </li>
          <li>
            <a routerLink="" routerLinkActive="active">CART</a>
          </li>
        </ul>
      </div>

      <div id="search">
        <form action="">
          <input type="text" placeholder="SEARCH">
          <button type="submit"></button>
        </form>
      </div>

    </div>

</div>
