<div class="hero-container">

  <div class="hero">

    <div class="slide slide1">
      <div class="content">
        <div class="sub-heading">
          <h6>HIKVISION AUTHORISED RESELLER</h6>
        </div>
        <div class="hero-header">
          Providing world <br> class security <br> systems
        </div>
        <div class="hero-button">
          <button>SHOP OUR PRODUCTS</button>
          <button>SEE OUR WORK</button>
        </div>
      </div>

    </div>

  </div>

</div>
<div class="container">

  <div class="technology acusense">
    <h4>AcuSense</h4>

    <div class="banner">
      <div class="col-12 col-md-6 col-lg-6"></div>
      <div class="col-12 col-md-6 col-lg-6">

        <p>
          Hikvision’s AcuSense products are ground-breaking
          as they are built on Artificial intelligence algorithms
          that are revolutionalizing the security industry. Among
          the plenty uses of these products, they can be used in
          setting boundaries, people counting, differentiating between
           pets and kids e.t.c
        </p>
        <button style="background-color: #c7be0f;">read more</button>
      </div>
    </div>

    <div class="recommended">
      <h5>Recommended Products</h5>
      <div class="products">

        <div class="product col-12 col-md-4 col-lg-3">
          <img src="../../../assets/images/network.png" alt="" height="150px" >
          <h6>Network Cameras</h6>
          <button>shop</button>
        </div>

        <div class="product col-12 col-md-4 col-lg-3">
          <img src="../../../assets/images/ptz.png" alt="" height="150px" >
          <h6>PTZ Cameras</h6>
          <button>shop</button>
        </div>

        <div class="product col-12 col-md-4 col-lg-3">
          <img src="../../../assets/images/nvr.png" alt="" height="150px" >
          <h6>Network Video Recorder</h6>
          <button>shop</button>
        </div>
      </div>
    </div>

  </div>

  <div class="technology colorvu">
    <h4>ColorVu</h4>

    <div class="banner">
      <div class="col-12 col-md-6 col-lg-6"></div>
      <div class="col-12 col-md-6 col-lg-6">

        <p>
          If you are looking for a color view of your CCTV 24/7,
          look no further. The ColorVu series is built to produce
          ultra clear and color footage even when taken at night.
          It is useful in any situation where color of footage is
          important especially when its dark or theres poor lighting.
        </p>
        <button style="background-color: #252E37;">read more</button>
      </div>
    </div>

    <div class="recommended">
      <h5>Recommended Products</h5>
      <div class="products">

        <div class="product col-12 col-md-4 col-lg-3">
          <img src="../../../assets/images/4Kcolorvu.png" alt="" height="150px" >
          <h6>4K ColorVu PoC Fixed
            Bullet Cameras</h6>
            <h6 class="price">R600</h6>
          <button>add to cart</button>
        </div>

        <div class="product col-12 col-md-4 col-lg-3">
          <img src="../../../assets/images/speed dome.png" alt="" height="150px" >
          <h6>3-inch 4 MP ColorVu
            Network Speed Dome</h6>
            <h6 class="price">R800</h6>
          <button>add to cart</button>
        </div>

        <div class="product col-12 col-md-4 col-lg-3">
          <img src="../../../assets/images/turret.png" alt="" height="150px" >
          <h6>4 MP ColorVu Strobe Light
            and Audible Warning Fixed
           Turret Network Camera</h6>
           <h6 class="price">R900</h6>
          <button>add to cart</button>
        </div>
      </div>
    </div>

  </div>

  <div class="technology axpro">
    <h4>AX Pro</h4>

    <div class="banner">
      <div class="col-12 col-md-6 col-lg-6">

        <p>
          Ax pro intruder alarm is one of the most innovative
          wireless alarm systems out right now.  It gives the
          user a short video of the zone which triggers the
          alarm and allows the user to arm and disarm the alarm
          remotely using a mobile device.
        </p>
        <button style="background-color: #252E37;">watch video</button>
      </div>
      <div class="col-12 col-md-6 col-lg-6" style="display: flex; justify-content:end;">
        <img src="../../../assets/images/remote-viewing.png" alt="" height="250px" style="margin-bottom:-35px">
      </div>

    </div>

    <div class="recommended">
      <h5>Recommended Products</h5>
      <div class="products">

        <div class="product col-12 col-md-4 col-lg-3">
          <img src="../../../assets/images/axpro1.png" alt="" height="150px" >
          <h6>DS-PWA64-Kit-WE</h6>
            <h6 class="price">R3600</h6>
          <button>add to cart</button>
        </div>

        <div class="product col-12 col-md-4 col-lg-3">
          <img src="../../../assets/images/axpro1.png" alt="" height="150px" >
          <h6>DS-PWA96-Kit-WE</h6>
            <h6 class="price">R4200</h6>
          <button>add to cart</button>
        </div>

        <div class="product col-12 col-md-4 col-lg-3">
          <img src="../../../assets/images/axpro1.png" alt="" height="150px" >
          <h6>DS-PWA96-Kit-WB</h6>
           <h6 class="price">R3400</h6>
          <button>add to cart</button>
        </div>
      </div>
    </div>

  </div>
</div>
